[Unit]
Description=The Chef Habitat Supervisor
[Service]
ExecStart=/bin/hab sup run --listen-ctl=0.0.0.0:9632 --event-stream-application="POS" --event-stream-environment="production" --event-stream-site="${STREAM_URL}" --event-stream-url="ip-172-31-54-5.us-west-2.compute.internal:4222" --event-stream-token="E2bCL2WgfBqyo_lw8M-2OWm8WT0=" --permanent-peer --peer=172.31.54.11 --peer=172.31.54.12 --peer=172.31.54.21 --peer=172.31.54.31 --peer=172.31.54.32
[Install]
WantedBy=default.target