@page

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">&nbsp;</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/">Home</a>
                    <a href="/About">About</a>
                    <span>Demo 01</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-hero">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7">
                <div class="blog__hero__text">
                    <div class="label">Demo</div>
                    <h2>Deploy and Rollback</h2>                 
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__content">


                    <div class="blog__details__text">
                        <p>During this demo you will deploy a new version of the User Interface and then Rollback the Change</p>
                    </div>                    


                    <div class="blog__details__direction">
                        <h6>Directions</h6>
                        <ul>
                            <li>
                                <span>01.</span> 
                                xxxxxx yyyyyyy zzzzzzz.
                            </li>
                            <li>
                                <span>02.</span> 
                                xxxxxx yyyyyyy zzzzzzz.                                
                            </li>
                        </ul>
                    </div>



                    <div class="blog__details__comment">
                        <h5>Objectives</h5>
                        <a href="#" class="primary-btn">Leave a comment</a>
                        <div class="blog__details__comment__item">
                            <div class="blog__details__comment__item__pic">
                                01
                            </div>
                            <div class="blog__details__comment__item__text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.
                                </p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>