@page
@{
    ViewData["Title"] = "Home page";
    ViewData["PageStyle"] = "background-color:black";
}

<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="img/hero/hero-chef.png">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text" style="background: rgba(0,0,0,0.25);">
                            <h3>Progress Chef- Edge Management</h3>
                            <p>Self checkout ordering kiosk simulation</p>
                            <a href="/Shop" style="z-index: 1000;" class="primary-btn">Start your Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>