<head>
    <meta charset=utf-8>
    <meta name=description content="The following settings can be used during a Chef Habitat service&rsquo;s lifecycle. This means that you can use these settings in any of the plan hooks, such as init, or run, and also in any templatized configuration file for your application or service.">
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=robots content>
    <meta class=swiftype name=chef-product data-type=string content="habitat">
    <title>Service Template Data</title>
    <link rel=stylesheet href=/styles/main.min.css>
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            addCopyButtons(event);
            hljs.highlightAll();
        });
    </script>

</head>
