<div id=left-nav-on-canvas class="cell position-left off-canvas-absolute reveal-for-mediumlarge col-sidebar" data-off-canvas>
    <aside class="sticky sidebar hide-for-print" data-sticky data-top-anchor=utility-bar:bottom data-btm-anchor=footer:top>
        <nav id=sidebar-nav>
            <div class=nav>
                <ul class="vertical menu accordion-menu" data-accordion-menu>
                    <li>
                        <a href="/00-overview/">Overview</a>
                            <!--#if expr='v("PAGE") = "overview"'-->
                            <!--#include virtual="/00-overview/_nav.html" -->
                            <!--#endif -->
                    </li>     
                    <li>                        
                        <a href="/01-build/">01 - Build and Package</a>
                            <!--#if expr='v("PAGE") = "build"'-->
                            <!--#include virtual="/01-build/_nav.html" -->
                            <!--#endif -->
                    </li>
                    <li>                        
                        <a href="/02-deploy/">02 - Deploy and Rollback</a>
                            <!--#if expr='v("PAGE") = "deploy"'-->
                            <!--#include virtual="/02-deploy/_nav.html" -->
                            <!--#endif -->
                    </li>
                    <li>                        
                        <a href="/03-prepackaged/">03 - Prepacked Applications</a>
                            <!--#if expr='v("PAGE") = "prepackaged"'-->
                            <!--#include virtual="/03-prepackaged/_nav.html" -->
                            <!--#endif -->
                    </li>
                    <li>                        
                        <a href="/04-decentralized/">04 - Decentralization</a>
                            <!--#if expr='v("PAGE") = "decentralized"'-->
                            <!--#include virtual="/04-decentralized/_nav.html" -->
                            <!--#endif -->
                    </li>                                   
                    <li>                        
                        <a href="/05-ring/">05 - Habitat Ring</a>
                            <!--#if expr='v("PAGE") = "ring"'-->
                            <!--#include virtual="/05-ring/_nav.html" -->
                            <!--#endif -->
                    </li>
                    <li>                        
                        <a href="/06-updates/">06 - Smart Updates</a>
                            <!--#if expr='v("PAGE") = "updates"'-->
                            <!--#include virtual="/06-updates/_nav.html" -->
                            <!--#endif -->
                    </li>                                      
                    <li>                        
                        <a href="/07-host-compliance/">07 - Host Compliance</a>
                            <!--#if expr='v("PAGE") = "host-compliance"'-->
                            <!--#include virtual="/07-host-compliance/_nav.html" -->
                            <!--#endif -->
                    </li>                                      
                    <li>                        
                        <a href="/08-host-config/">08 - Host Configuration</a>
                            <!--#if expr='v("PAGE") = "host-configuration"'-->
                            <!--#include virtual="/08-host-config/_nav.html" -->
                            <!--#endif -->
                    </li>                                      
                    <li>                        
                        <a href="/09-app-compliance/">09 - App Compliance</a>
                            <!--#if expr='v("PAGE") = "app-compliance"'-->
                            <!--#include virtual="/09-app-compliance/_nav.html" -->
                            <!--#endif -->
                    </li>
                    <li>                        
                        <a href="/10-jenkins/">10 - CI/CD</a>
                            <!--#if expr='v("PAGE") = "jenkins"'-->
                            <!--#include virtual="/10-jenkins/_nav.html" -->
                            <!--#endif -->
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
</div>
