<nav id="utility-bar" class="hide-for-print top-bar">
    <a href="/" class="utility-bar-brand top-bar-left">
        <img src=/images/progress-chef-primary-logo.svg alt="Chef Progress Logo" class=chef>
    </a>
    <ul class="menu top-nav show-for-mediumlarge top-bar-right">
        <li>
            <a href="/" class=chef-conf-link>
                <span class=braces>{</span>
                    Edge Management Workshop
                <span class=braces>}</span>
            </a>
        </li>
    </ul>
</nav>